section {
    padding: 10px 15px;
}

.limitar-secao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.limitar-secao  img {
    width: 150px;
}

.limitar-secao nav > a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
}

@media only screen and (max-width: 550px) {

    .box-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }

    .limitar-secao img {
        width: 150px;
    }

    .box-menu nav {
        width: 100%;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
        border-top: 1px solid  #aaadaf;
    }

    
}